body {
    width: 100%;
    margin: 0 auto;
}

.content {
    padding: 70px;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.header {
    color: white;
    background: black;
    width: 1152px;
    top: 0;
    position: fixed;
    padding-right: 290px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.link-header {
    text-decoration: none;
    color: white;
}
.link-body1 {
    text-decoration: none;
    color: white;
}

.link-body {
    text-decoration: none;
    color: black;
}

.logo {
    float: left;
    font-family: Open Sans, serif;
    font-size: 18px;
    color: white;
}

li {
    list-style: none;
    float: left;
    margin-left: 15px;
    padding-top: 0px;
}

.nav {
    padding-right: 290px;
    padding-top: 15px;
    padding-bottom: 20px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

#residents{
        padding: 30px;
}

table,
th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.button1 {
    background: black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /*color: white;*/
    font-family: Open Sans, serif;
    font-size: 18px;
    font-weight: 100;
    padding: 7px;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}