<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <link rel="stylesheet" href="static/login.css">
</head>

<body>
<div class="wrapper">
    <form action="/sign_up" method="POST">
    <div class="container-login">
        <label class="form-elements" for="username" id="labels">Username</label><br>
        <input placeholder="username" input_html="{:autocomplete=>'off'}"class="form-elements" type="text"><br><br>
        <label class="form-elements" for="password" id="labels">Password</label><br>
        <input placeholder="password" input_html="{:autocomplete=>'off'}" class="form-elements" type="password"><br><br><br>
        <input class="button" class="form-elements" type="submit" value="Sign Up">
    </div>
    </form>
</div>>
</body>

</html>